n8n-workflows/nexus-midas-seo-v2.json
{
  "name": "⚡ Midas v2 — SEO 标题优化 + 智能分发",
  "nodes": [
    {
      "parameters": {},
      "id": "mv2-trigger",
      "name": "⚡ Midas v2 启动",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [250, 300]
    },
    {
      "parameters": {
        "jsCode": "// ═══════════════════════════════════════════════════\n// Midas v2: SEO 标题优化引擎\n// 输入: Sherlock 核查通过的 Markdown 内容\n// 核心: 标题重写 + 长尾关键词优化 + Click-Worthy 评分\n// ═══════════════════════════════════════════════════\n\nconst data = $input.first().json;\nconst draft = data._newton_draft || data.content || '';\nconst originalTitle = data._newton_title || data.title || '';\n\n// 提取主关键词（用于 SEO 优化）\nfunction extractKeywords(text) {\n  const examPatterns = [\n    'AP', 'A-Level', 'A Level', 'IB', 'SAT', 'ACT', 'TOEFL', 'IELTS',\n    'BPhO', 'AMC', 'STEP', 'MAT', 'PAT', 'TSA', 'NSAA', 'ENGAA',\n    'Physics', 'Chemistry', 'Biology', 'Math', 'Further Math',\n    'Personal Statement', 'PS', '面试', 'Interview', '文书',\n    '牛剑', 'Oxbridge', '牛津', 'Oxford', '剑桥', 'Cambridge',\n    '竞赛', 'Olympiad', '备考', '选课', '选校', '排名'\n  ];\n  const found = [];\n  const lower = text.toLowerCase();\n  for (const kw of examPatterns) {\n    if (lower.includes(kw.toLowerCase())) found.push(kw);\n  }\n  return [...new Set(found)];\n}\n\nconst keywords = extractKeywords(draft);\nconst year = new Date().getFullYear();\n\n// 标题 SEO 评分\nfunction scoreTitle(title) {\n  let score = 0, feedback = [];\n  if (/\\d/.test(title)) { score += 2; feedback.push('数字增强'); }\n  if (/20\\d{2}/.test(title)) { score += 2; feedback.push('年份标记'); }\n  if (title.length >= 15 && title.length <= 30) { score += 2; feedback.push('长度适中'); }\n  if (/攻略|指南|技巧|解析|盘点|避坑|冲金|满分|5分/i.test(title)) { score += 2; feedback.push('行动词'); }\n  if (/AP|A-Level|IB|SAT|BPhO|AMC|STEP|牛剑|牛津|剑桥/i.test(title)) { score += 2; feedback.push('核心关键词'); }\n  return { score, maxScore: 10, feedback };\n}\n\nreturn {\n  _content: draft,\n  _original_title: originalTitle,\n  _keywords: keywords,\n  _year: year,\n  _score: scoreTitle(originalTitle),\n  // DeepSeek Prompt for title optimization\n  _seo_prompt: `你是 Midas SEO 总监。请为重写以下文章标题以最大化搜索引擎曝光。\n\n原标题: ${originalTitle}\n关键词: ${keywords.join(', ')}\n年份: ${year}\n\n## 标题优化规则\n1. 前置关键信息: [年份][考试/科目][核心主题][行动词]\n2. 含具体数字（如\"5个技巧\"\"3步通关\"）\n3. 中文 15-30 字\n4. 自然嵌入 2-3 个长尾关键词\n5. 保持原标题的核心意思\n\n## 输出格式\n请生成 3 个候选标题（按 SEO 得分排序），每个标注评分：\n1. [标题] — ⭐⭐⭐⭐⭐ (评分X/10: 理由)\n2. [标题] — ⭐⭐⭐⭐ (评分X/10: 理由)\n3. [标题] — ⭐⭐⭐⭐⭐ (评分X/10: 理由)\n\n选择得分最高者作为最终标题。`\n};"
      },
      "id": "mv2-analyze",
      "name": "🔍 关键词提取 + 标题评分",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [450, 300]
    },
    {
      "parameters": {
        "jsCode": "const data = $input.first().json;\nreturn {\n  model: $env.DEEPSEEK_MODEL || 'deepseek-chat',\n  temperature: 0.3,\n  max_tokens: 1024,\n  messages: [{ role: 'user', content: data._seo_prompt }]\n};"
      },
      "id": "mv2-seo-build",
      "name": "📝 构建 SEO 标题请求",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [650, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $env.DEEPSEEK_API_BASE || 'https://api.deepseek.com/chat/completions' }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "Content-Type", "value": "application/json" },
            { "name": "Authorization", "value": "=Bearer {{ $env.DEEPSEEK_API_KEY }}" }
          ]
        },
        "sendBody": true, "specifyBody": "json", "jsonBody": "={{ $json }}",
        "options": { "timeout": 60000 }
      },
      "id": "mv2-seo-ds",
      "name": "🤖 DeepSeek 标题优化",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [850, 300]
    },
    {
      "parameters": {
        "jsCode": "// ═══════════════════════════════════════════════════\n// Midas v2: 选择最佳标题 + 构建最终发布 Payload\n// ═══════════════════════════════════════════════════\n\nconst dsResponse = $input.first().json;\nconst prev = $('🔍 关键词提取 + 标题评分').first().json;\nconst seoTitles = dsResponse.choices?.[0]?.message?.content || '';\n\n// 从 SEO 输出中提取第一个标题行\nconst firstTitleMatch = seoTitles.match(/^1\\.\\s*\\*{0,2}(.+?)\\*{0,2}\\s*—/m);\nlet optimisedTitle = prev._original_title;\nif (firstTitleMatch) {\n  optimisedTitle = firstTitleMatch[1].trim();\n}\n\nfunction guessSubreddit(content) {\n  const c = content.toLowerCase();\n  if (c.includes('ap ') || c.includes('advanced placement')) return 'APExams';\n  if (c.includes('a-level') || c.includes('alevel')) return 'ALevel';\n  if (c.includes('ib ') || c.includes('international baccalaureate')) return 'IBDiploma';\n  if (c.includes('sat') || c.includes('act')) return 'SATPrep';\n  if (c.includes('牛剑') || c.includes('oxbridge')) return 'Oxbridge';\n  if (c.includes('竞赛') || c.includes('olympiad') || c.includes('bpho')) return 'Competitions';\n  if (c.includes('文书') || c.includes('personal statement')) return 'EssayWorkshop';\n  return 'AcademicDaily';\n}\n\n// 添加 SEO meta description\nconst metaDesc = (prev._content || '').substring(0, 157).replace(/[#*\\n]/g, ' ') + '...';\n\nreturn {\n  secret_key: $env.AI_WEBHOOK_SECRET,\n  title: optimisedTitle,\n  content: prev._content,\n  subredditName: guessSubreddit(prev._content),\n  authorRole: 'Midas',\n  // SEO 元数据（不通过 API 发布，记录在日志中供分析）\n  _seo_meta: {\n    original_title: prev._original_title,\n    optimised_title: optimisedTitle,\n    keywords: prev._keywords,\n    description: metaDesc,\n    seo_raw: seoTitles\n  }\n};"
      },
      "id": "mv2-build",
      "name": "📦 最佳标题 + Payload 构建",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1050, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://host.docker.internal:3000/api/ai-publish",
        "sendHeaders": true,
        "headerParameters": { "parameters": [{ "name": "Content-Type", "value": "application/json" }] },
        "sendBody": true, "specifyBody": "json", "jsonBody": "={{ $json }}",
        "options": { "timeout": 30000 }
      },
      "id": "mv2-post",
      "name": "📡 POST → 发布上线",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1250, 300]
    },
    {
      "parameters": {
        "jsCode": "const response = $input.first().json;\nconst seoData = $('📦 最佳标题 + Payload 构建').first().json;\n\nreturn {\n  status: 'published',\n  post_id: response.id,\n  subreddit: response.subredditName,\n  url: `http://localhost:3000/r/${response.subredditName}/post/${response.id}`,\n  seo_report: {\n    original: seoData._seo_meta?.original_title,\n    optimised: seoData._seo_meta?.optimised_title,\n    keywords: seoData._seo_meta?.keywords\n  },\n  timestamp: new Date().toISOString()\n};"
      },
      "id": "mv2-done",
      "name": "🎉 发布成功 + SEO 报告",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1450, 300]
    }
  ],
  "connections": {
    "⚡ Midas v2 启动": { "main": [[{ "node": "🔍 关键词提取 + 标题评分", "type": "main", "index": 0 }]] },
    "🔍 关键词提取 + 标题评分": { "main": [[{ "node": "📝 构建 SEO 标题请求", "type": "main", "index": 0 }]] },
    "📝 构建 SEO 标题请求": { "main": [[{ "node": "🤖 DeepSeek 标题优化", "type": "main", "index": 0 }]] },
    "🤖 DeepSeek 标题优化": { "main": [[{ "node": "📦 最佳标题 + Payload 构建", "type": "main", "index": 0 }]] },
    "📦 最佳标题 + Payload 构建": { "main": [[{ "node": "📡 POST → 发布上线", "type": "main", "index": 0 }]] },
    "📡 POST → 发布上线": { "main": [[{ "node": "🎉 发布成功 + SEO 报告", "type": "main", "index": 0 }]] }
  },
  "settings": { "callerPolicy": "workflowsFromSameOwner" },
  "versionId": "midas-seo-v2",
  "active": false
}
